.body {
        background-color: #fff;
        font-family: "Roboto", sans-serif;
        color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

p {
        margin: 0;
}

img {
        display: block;
}

.container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-right: 15px;
        padding-left: 15px;
        width: 1158px;
        gap: 40px;
}

.header {
        border-bottom: 1px solid #e7e9fc;
}

.logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        width: 115px;

        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 76px;
}

.logo-part-two {
        color: #2e2f42;
}

.header-nav {
        display: flex;
        align-items: center;
}

.nav-ul:nth-child(:last-child) {
        margin-right: 0;
}

.header-div .nav-ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
}

.nav-div {
        margin-left: 76px;
}

.nav-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-text-one {
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-text-two {
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-text-three {
        padding-top: 24px;
        padding-bottom: 24px;
}

.contacts {
        display: flex;
        gap: 40px;
}

.contacts .nav-adress {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.adress-div .nav-adress-one {
        order: 1;
}

.adress-div .nav-adress-two {
        order: 0;
}

.nav-adress-one {
        margin-top: 24px;
        margin-bottom: 24px;
}

.nav-adress-two {
        margin-right: 156px;
        margin-top: 24px;
        margin-bottom: 24px;
}

.mail-div {
        margin-top: 24px;
        margin-right: 40px;
        margin-left: 332px;
}

.tel-div {
        margin-top: 24px;
        margin-right: 156px;
        margin-left: 40px;
}

.sec-div-one {
        width: 1440px;
}

.nav-text:hover,
.nav-text:focus {
        color: #404bbf;
}

.nav-adress:hover,
.nav-adress:focus {
        color: #404bbf;
}

.section-one {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
}

.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        background-color: #2e2f42;

        margin-top: 188px;
        margin-left: 472px;

        max-width: 496px;
}

.button {
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

        display: block;
        min-width: 169px;
        border-radius: 4px;
        border: 0;
        margin-left: 636px;
        margin-left: 635px;
        margin-top: 48px;
        margin-bottom: 188px;
        height: 56px;
}

.button:hover,
.button:focus {
        background-color: #404BBF;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-two {
        padding-top: 120px;
        padding-bottom: 120px;
}

.our-studio {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.studio-div-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-div-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-div-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-div-four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-list {
        display: flex;
        gap: 24px;

        margin-top: 120px;
        margin-bottom: 120px
}

.studio-li-one {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-ben-one {
        margin-bottom: 8px;
}

.studio-li-two {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-ben-two {
        margin-bottom: 8px;
}

.studio-li-three {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-ben-three {
        margin-bottom: 8px;
}

.studio-li-four {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-ben-four {
        margin-bottom: 8px;
}

.studio-list .studio-ben {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.studio-list .studio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-card-div-one {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;

        margin-top: 72px;
        margin-bottom: 120px;

}

.team-letters-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-one {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-one {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-one {
        text-align: center;
}

.team-card-div-two {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;

        margin-top: 72px;
        margin-bottom: 120px;
}

.team-letters-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-two {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-two {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-two {
        text-align: center;
}

.team-card-div-three {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;

        margin-top: 72px;
        margin-bottom: 120px;
}

.team-letters-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-three {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-three {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-three {
        text-align: center;
}

.team-card-div-four {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;

        margin-top: 72px;
        margin-bottom: 120px;
}

.team-letters-four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-four {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-four {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-four {
        text-align: center;
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-list .team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list .team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
        background-color: #f4f4fd;

        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-card-divs-one {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;

        margin-top: 0;
        margin-left: 156px;
        margin-right: 24px;
        margin-bottom: 48px;
        padding: 0;
}

.portfolio-letters-one {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 118px;
}

.portfolio-img-one {
        margin-left: 156px;
        margin-right: 24px;
        margin-top: 72px;
}

.portfolio-card-divs-two {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        
        margin-top: 0;
        margin-right: 24px;
        margin-bottom: 48px;
        padding: 0;
}

.portfolio-letters-two {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;
        
        width: 180px;
}

.portfolio-img-two {
        margin-right: 24px;
        margin-top: 72px;
}

.portfolio-card-divs-three {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        
        margin-top: 0;
        margin-right: 156px;
        margin-bottom: 48px;
        padding: 0;
}

.portfolio-letters-three {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;
        
        width: 143px;
}

.portfolio-img-three {
        margin-right: 156px;
        margin-top: 72px;
}

.portfolio-card-divs-four {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        
        margin-top: 0;
        margin-left: 156px;
        margin-right: 24px;
        margin-bottom: 120px;
        padding: 0;
}

.portfolio-letters-four {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 113px;
}

.portfolio-img-four {
        margin-right: 24px;
        margin-left: 156px;
}

.portfolio-card-divs-five {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
        
        margin-top: 0;
        margin-right: 24px;
        margin-bottom: 120px;
        padding: 0;
}

.portfolio-letters-five {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 200px;
}

.portfolio-img-five {
        margin-right: 24px;
}

.portfolio-card-divs-six {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
        
        margin-top: 0;
        margin-right: 156px;
        margin-bottom: 120px;
        padding: 0;
}

.portfolio-letters-six {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 142px;
}

.portfolio-img-five {
        margin-right: 156px;
}

.footer {
        background-color: #2e2f42;

        height: 312px;

        padding-top: 100px;
        padding-bottom: 100px;
}

.footer .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

        width: 264px;

        margin-left: 156px;
        margin-bottom: 100px;
        margin-right: 1020px;
}

.portfolio-list .portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.logo-two {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        
        display: inline-block;
        width: 115px;

        margin-top: 100px;
        margin-left: 156px;
        margin-bottom: 16px;
        margin-right: 1169px;
}

.logo-part-two-two {
        color: #2e2f42;
}

.team-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        background-color: #f4f4fd;
        text-align: center;

        margin-bottom: 72px;
        
}

.portfolio-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        text-align: center;

        margin-top: 120px;
}

.logo-part-two-two {
        color: #f4f4fd;
}

.team-list .team-card {
        background-color: #FFFFFF;
}

a {
        text-decoration: none;
        color: inherit;
}

ul, ol {
        list-style: none;
        list-style-type: none;
        margin: 0;

}