.body {
        background-color: #fff;
        font-family: "Roboto", sans-serif;
        color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

p {
        margin: 0;
}

img {
        display: block;
}

.container {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 1158px;
}

.header {
        border-bottom: 1px solid #e7e9fc;
}

.logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        width: 115px;

        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 76px;
}

.logo-part-two {
        color: #2e2f42;
}

.header-nav {
        display: flex;
        align-items: center;
}

.nav-list:nth-child(:last-child) {
        margin-right: 0;
}

.header-box .nav-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
}

.nav-box {
        margin-left: 76px;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-link-one {
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-link-two {
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-link-three {
        padding-top: 24px;
        padding-bottom: 24px;
}

.contacts {
        display: flex;
        gap: 40px;
}

.contacts .nav-contacts {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.adress-box .nav-contacts-one {
        order: 1;
}

.adress-box .nav-contacts-two {
        order: 0;
}

.nav-contacts-one {
        margin-top: 24px;
        margin-bottom: 24px;
}

.nav-contacs-two {
        margin-right: 156px;
        margin-top: 24px;
        margin-bottom: 24px;
}

.mail {
        margin-top: 24px;
        margin-right: 40px;
        margin-left: 332px;
}

.tel {
        margin-top: 24px;
        margin-right: 156px;
        margin-left: 40px;
}

.section-box-one {
        width: 1440px;
}

.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
}

.nav-contacts:hover,
.nav-contacts:focus {
        color: #404bbf;
}

.section-one {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
}

.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        background-color: #2e2f42;

        margin-top: 188px;
        margin-left: 472px;

        max-width: 496px;
}

.button {
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

        display: block;
        min-width: 169px;
        border-radius: 4px;
        border: 0;
        margin-left: 636px;
        margin-left: 635px;
        margin-top: 48px;
        margin-bottom: 188px;
        height: 56px;
}

.button:hover,
.button:focus {
        background-color: #404BBF;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.studio-section {
        margin-top: 120px;
        margin-bottom: 120px;
        margin-left: 156px;
        margin-right: 156px;
}

.studio-main-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.studio-box-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-box-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-box-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-box-four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 264px;
        height: 104px;
}

.studio-list {
        display: flex;
        gap: 24px;

        padding: 0;
        padding-inline-start: 0;
}

.studio-item-one {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-benefit-one {
        margin-bottom: 8px;
}

.studio-item-two {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-benefit-two {
        margin-bottom: 8px;
}

.studio-item-three {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-benefit-three {
        margin-bottom: 8px;
}

.studio-item-four {
        flex-basis: calc((100% - 72px) / 4);
}

.studio-benefit-four {
        margin-bottom: 8px;
}

.studio-list .studio-benefit {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.studio-list .studio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-card-box-one {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;

}

.team-textname-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-one {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-one {
        text-align: center;
        margin-bottom: 8px;
}

.team-job-one {
        text-align: center;
}

.team-card-box-two {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
}

.team-textname-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-two {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-two {
        text-align: center;
        margin-bottom: 8px;
}

.team-job-two {
        text-align: center;
}

.team-card-box-three {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
}

.team-textname-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-three {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-three {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-three {
        text-align: center;
}

.team-card-box-four {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
}

.team-textname-four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        
        padding-top: 32px;
        padding-bottom: 32px;
}

.team-card-four {
        flex-basis: calc((100% - 72px) / 4);

        border-radius: 0px 0px 4px 4px;
}

.team-title-four {
        text-align: center;
        margin-bottom: 8px;
}

.team-text-four {
        text-align: center;
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-list .team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list .team-job {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
        background-color: #f4f4fd;

        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.portfolio-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        text-align: center;

        margin-bottom: 72px;
}

.portfolio-list .portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-card-box-one {
        display: flex;
        flex-direction: column;
        gap: 8px;

        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;

        margin-top: 0;
        padding: 0;

        padding: 32px 16px;
}

.portfolio-item-one {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-one {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 118px;
}

.portfolio-title-one {
        margin-bottom: 8px;
}

.portfolio-img-one {
        display: flex;
}

.portfolio-card-box-two {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
        
        margin-top: 0;
        padding: 0;

        padding: 32px 16px;
}

.portfolio-item-two {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-two {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;
        
        width: 180px;
}

.portfolio-title-two {
        margin-bottom: 8px;
}

.portfolio-img-two {
        display: flex;
}

.portfolio-card-box-three {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
        
        margin-top: 0;
        padding: 0;

        padding: 32px 16px;
}

.portfolio-item-three {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-three {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;
        
        width: 143px;
}

.portfolio-title-three {
        margin-bottom: 8px;
}

.portfolio-img-three {
        display: flex;
}

.portfolio-card-box-four {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
        
        margin-top: 0;
        padding: 0;

        padding: 32px 16px;
}

.portfolio-item-four {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-four {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 113px;
}

.portfolio-title-four {
        margin-bottom: 8px;
}

.portfolio-img-four {
        display: flex;
}

.portfolio-card-box-five {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
        
        margin-top: 0;
        padding: 0;

        padding: 32px 16px;

}

.portfolio-item-five {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-five {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 200px;
}

.portfolio-title-five {
        margin-bottom: 8px;
}

.portfolio-img-five {
        display: flex;
}

.portfolio-card-box-six {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
        
        margin-top: 0;
        padding: 0;

        padding: 32px 16px;
}

.portfolio-item-six {
        width: calc((100% - 48px) / 3);
}

.portfolio-textname-six {
        display: block;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 226px;
        margin-bottom: 32px;

        width: 142px;
}

.portfolio-title-six {
        margin-bottom: 8px;
}

.portfolio-img-six {
        display: flex;
}

.footer {
        background-color: #2e2f42;

        height: 312px;

        padding-top: 100px;
        padding-bottom: 100px;
}

.footer .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

        width: 264px;

        margin-left: 156px;
        margin-bottom: 100px;
        margin-right: 1020px;
}

.logo-two {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        
        display: inline-block;
        width: 115px;

        margin-top: 100px;
        margin-left: 156px;
        margin-bottom: 16px;
        margin-right: 1169px;
}

.logo-part-two-two {
        color: #2e2f42;
}

.team-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        background-color: #f4f4fd;
        text-align: center;

        margin-bottom: 72px;

}

.logo-part-two-two {
        color: #f4f4fd;
}

.team-list .team-card {
        background-color: #FFFFFF;
}

a {
        text-decoration: none;
        color: inherit;
}

ul, ol {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
}