.body {
        background-color: #fff;
        font-family: "Roboto", sans-serif;
        color: #434455;
}

.nav-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-text:hover,
.nav-text:focus {
        color: #404bbf;
}

.nav-adress {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-adress:hover,
.nav-adress:focus {
        color: #404bbf;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        background-color: #2e2f42;
}

.button {
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}

.button:hover,
.button:focus {
        background-color: #404BBF;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.studio-list .studio-ben {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.studio-list .studio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-list .team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list .team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
        background-color: #f4f4fd;
}

.footer {
        background-color: #2e2f42;
}

.footer .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.portfolio-list .portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;

}

.logo-part-two {
        color: #2e2f42;
}

.contacts {
        font-style: normal;
}

.section-one {
        background-color: #2e2f42;
}

.team-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        background-color: #FFFFFF;
}

.portfolio-main-title {
        line-height: 1.11;
        text-transform: capitalize;
}

.logo-part-two-two {
        color: #f4f4fd;
}

.team-list .team-card {
        background-color: #FFFFFF;
}

a {
        text-decoration: none;
}

ul {
        list-style: none;
        list-style-type: none;
}